# Node
node_modules/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json

# Build outputs
dist/
build/
.out/
coverage/

# Env / secrets
.env
.env.local
.env.*.local
secrets.json

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
logs/
*.log
